nav{
    display: flex;
    justify-content: center;
}
nav a{
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
}